<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>project.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/MainController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>BoardAdviceController</display-name>
    <servlet-name>BoardAdviceController</servlet-name>
    <servlet-class>project.controller.BoardAdviceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAdviceController</servlet-name>
    <url-pattern>/BoardAdviceController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>BoardAuctionController</display-name>
    <servlet-name>BoardAuctionController</servlet-name>
    <servlet-class>project.controller.BoardAuctionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardAuctionController</servlet-name>
    <url-pattern>/BoardAuctionController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>EquipmentController</display-name>
    <servlet-name>EquipmentController</servlet-name>
    <servlet-class>project.controller.EquipmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipmentController</servlet-name>
    <url-pattern>/EquipmentController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>project.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
</web-app>